
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.assignment {
    margin-bottom: 40px; 
}

h1, h2 {
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0;
}


.button-group {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: background-color .5s ease, color .5s ease;
}

.btn:hover {
    background-color: #ff8c00; 
}


.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.item {
    overflow: hidden; 
    border-radius: 8px;
    background-color: #000;
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    transform: scale(1); 
    
    transition: transform .4s ease, box-shadow .4s;
}

.item img:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 25px rgba(0,0,0,0.5); 
    cursor: pointer;
}

.nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    position: relative; 
    padding-bottom: 5px;
}


.nav li a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 3px;
    background-color: #ff8c00; 
    transition: width .3s ease; 
}


.nav li a:hover::after {
    width: 100%;
}


.nav li a:hover {
    color: aqua;
    transition: color .3s;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding-top: 20px;
}

.card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform .3s ease, box-shadow .3s ease;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
}

.card-content p {
    font-size: 0.9rem;
    color: #666666;
    margin-bottom: 15px;
}

.price {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1.1rem;
}


.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url('https://picsum.photos/1200/400?grayscale'); /* Ảnh nền banner */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}


.banner-overlay {
    background: rgba(243, 202, 255, 0.795); 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 10px;
    
    opacity: 0;
    
    animation: fade-in 2s ease forwards;
    animation-delay: 0.5s; 
}

.hero-subtitle {
    font-size: 1.2rem;
    opacity: 0;
    animation: fade-in 2s ease forwards;
    animation-delay: 1.2s; 
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}