
section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}


.marquee {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    overflow: hidden; 
    white-space: nowrap;
}


.marquee p {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2c3e50;
    
  
    animation: moveText 10s linear infinite;
}


@keyframes moveText {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-50%); 
    }
}